.textoderecha{
	text-align: right;
}
.naranja{
	background-color: #000000;
}
.celeste{
	background-color: #00FFFF;
}
.verde{
	background-color:#00FF00 ;
}
.morado{
	background-color: #DF01A5;
}
.naranjaa{
	background-color:#FF8000;
}
.rojo{
	background-color: #FF0000;
}